version: '3.8'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.8.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.8.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # This allows external clients (your Python script) to connect to localhost:9092
      # while Docker containers connect to kafka:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      
      # --- LARGE MESSAGE CONFIGURATION (10 MB) ---
      # 1. Allow Broker to accept 10MB messages
      KAFKA_MESSAGE_MAX_BYTES: 10485760 
      # 2. Allow Replicas (internal movement) to fetch 10MB messages
      KAFKA_REPLICA_FETCH_MAX_BYTES: 10485760
      # 3. Allow Producer to send 10MB request (Defaults to this but good to be explicit)
      KAFKA_MAX_REQUEST_SIZE: 10485760